POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=rdpms_db
POSTGRES_USER=rdpms_user
POSTGRES_PASSWORD=rdpms_password

DATABASE_URL=postgresql+psycopg2://rdpms_user:rdpms_password@localhost:5432/rdpms_db
