POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=rdpmsdb
POSTGRES_USER=rdpmsuser
POSTGRES_PASSWORD=rdpmsuser123

DATABASE_URL=postgresql+psycopg2://rdpmsuser:rdpmsuser123@localhost:5432/rdpmsdb
